<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
            border-collapse: collapse; 
            text-align: center;
            border: solid 1px black;
        }
        th {
            background-color: gray;
        }
        th, td {
            border: solid 1px black;
            padding: 5px 5px 5px 5px;
        }
    </style>
    <title>Movies</title>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Homeworld</th>
            <th>Climate</th>
        </tr>
        {% for person in people %}
        {% if 'windy' in person.homeworld__climate %}
        <tr>
            <td>{{person.name}}</td>
            <td>{{person.homeworld__name}}</td>
            <td>{{person.homeworld__climate}}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</body>
</html>