<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
            border-collapse: collapse; 
            text-align: center;
            border: solid 1px black;
        }
        th {
            background-color: gray;
        }
        th, td {
            border: solid 1px black;
            padding: 5px 5px 5px 5px;
        }
    </style>
    <title>Movies</title>
</head>
<body>
    <table>
        <tr>
            <th>Title</th>
            <th>Episode Number</th>
            <th>Opening Crawl</th>
            <th>Director</th>
            <th>Producer</th>
            <th>Release Date</th>
            <th>Created</th>
            <th>Updated</th>
        </tr>
        {% for movie in data %}
        <tr>
            {% for case in movie %}
            <td>{{case}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>